body{
	background-color:rgb(238,238,238);
}
#divNav{
	height: 70px;
	/*background: rgb(24,25,29);*/
	/*background-color: rgb(0,151,167);*/
	background-color: #00695c;
	box-shadow: 0 3px 3px rgb(150,150,150);	
}
#subNavBar{
	margin-left: -28px; margin-right: -28px;
}
#mainContainer{
	border-bottom: solid rgb(200,200,200) 1px;
	box-shadow: 0 5px 5px rgb(150,150,150);
	margin-top: 5px;
	background-color: white;
	margin-bottom: 12px;
	/*min-height: 500px;*/
}
#tipContainer{
	background-color: #e0f2f1;padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 100px;
	box-shadow: 0px 5px 5px rgb(150,150,150);
	font-size: 13px;
	color: rgb(125,125,125);
	font-family: sans-serif;
}
.chartOutterContainer{
	margin-top: 15px;
	margin-bottom: 12px;
	box-shadow: 3px 3px 3px rgb(220,220,220);
	background-color: white;
}
.chartInnerContainer{
	margin-top: 30px;
	margin-bottom: 20px;
}
#imglogo{
	margin-top: 10px;
	margin-left: -5px;
	height: 48px;
}
.navFunc{
	color: rgb(220,220,220);margin-top: 27px; font-size: 15px;position: absolute;cursor: pointer;
}
#divNav a:hover 
{ 
	/*font-size:16px; */
	/*font-weight:bold; */
	color:#FFffff; 
	text-decoration:none; 
}
.btn-success:hover{
	color: #fff;
	background-color: red;
	border-color: #398439;
}
.demo-panel-title{
	height: 140px;
	padding-top: 10px;
	background: #c5c4c0 url("/images/banner_bg.jpg") center top no-repeat fixed;
}
#lblTableTitleText{
	font-size: 16px;
	color: white;
	margin-top: 20px;
	margin-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgba(128,128,128,0.08);
	border-bottom-width: 1px;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: #009688;
	text-align: left;
	box-shadow: 0px 0px 1px rgb(160,160,160);
}
#sayingContent{
	text-align:left;font-size:23px;color: white;
}
#sayingAuthor{
	text-align:right;font-size:16px;color: white;margin-right:10px;margin-top: 10px;
}
.btnAction{
	width: 220px;
	background-color: #00695c;
	border: none;
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: white;
	box-shadow: 2px 2px 2px rgb(150,150,150);
	margin-bottom: 20px;
}
.btnMayDo{
	width: 150px; 
	background-color: #00695c;
	border: none;
	font-size: 16px;
	padding-bottom: 3px;
	padding-top: 3px;
	color: white;
	box-shadow: 1px 1px 1px rgb(150,150,150);
}
.tileContainer{
	box-shadow: 0px 2px 3px rgb(150,150,150); 
	background-color: #e0f2f1;
	margin-left: 10%; 
	margin-right: 10%;
	cursor: pointer;
	color: rgba(0,0,0,0.4);
	/*height:176px;*/
}
.tileContainer:hover{
	box-shadow: 2px 5px 5px rgb(150,150,150);
	/*color: rgba(0,0,0,0.6);*/
	/*height:200px;*/
}

.tileText{
	padding-bottom: 25px;
	padding-top: 30px;
	font-size: 22px;
	background-color: #00695c;
	color: rgba(255,255,255,1);
	text-align: left;
	padding-left: 20px;
}
.tileSubText{
	padding-top: 15px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 14px;
	color: rgba(255,255,255,0.61);
}