<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>订单设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" 
          type="image/png" 
          href="/images/logo_pure.png">
    <!-- Loading Bootstrap -->
    <!-- <link href="bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <link href="/stylesheets/style.css" rel="stylesheet" media="screen">    
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">    
    <link href="/dataTable/jquery.dataTables.css" rel="stylesheet" media="screen">    
    <style type="text/css">

      #lblTip{
        margin-top: 30px; text-align: center; font-size: 30px; color: red; margin-bottom: 20px;
      }
      #dtProcess{
        text-align: center;
      }
      th{
        text-align: center;
      }
      .btn{
        width: 100px;
      }

    </style>
    <!-- // <script data-main="javascripts/main" src="/javascripts/require.js"></script> -->
    <script type="text/javascript" src = "/javascripts/jquery.js"></script>
    <script type="text/javascript" src = "/javascripts/underscore.js"></script>
    <script type="text/javascript">
        var wsUri = 'ws:' + window.location.href.substring(window.location.protocol.length) + '';
        var cmds = [];
        var table;

        $(document).ready(function() {
            table = $('#dtProcess').DataTable( {
                "paging":   false,
                "ordering": false,
                "info":     false,
                "searching":  false,
                "ajax": "../orderList",
                "columns": [
                    { "data": "index" ,"width": "25%"},
                    { "data": "name" ,"width": "25%"},
                    { "data": "quantity" ,"width": "25%"},
                    { "data": "time" ,"width": "25%"},
                ]
            } );
            $('#dtProcess tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            } );
            // updateSaying();
            // setInterval(updateSaying, 30 * 1000);
        });
        function updateSaying(){
            $.get('../GetRandomSaying', function(_data){
                var saying = JSON.parse(_data);
                $('#sayingContent').text(saying.Content);
                $('#sayingAuthor').text(saying.Author);
            })
        }
        function openAboutWindow(){
          $('#modalAbout').modal();
        }    
        function showOrderAutoIndex(){
          $.layer({
              type: 2,
              maxmin: false,
              shadeClose: false,
              title: '',
              shade: [0.0,'#fff'],
              offset: ['20px',''],
              area: ['800px', ($(window).height() - 150) +'px'],
              iframe: {src: '../orderAutoIndex'},
              close: function(){
                table.ajax.reload();
              }
          });  
        }
        function showAddOrderIndex(){
          $.layer({
              type: 2,
              maxmin: false,
              shadeClose: false,
              title: '',
              shade: [0.0,'#fff'],
              offset: ['20px',''],
              area: ['800px', ($(window).height() - 150) +'px'],
              iframe: {src: '../addOrderIndex'},
              close: function(){
                table.ajax.reload();
              }
          });          
        }
        function deleteRow(){
          var selectedIndex = table.row('.selected')[0];
          if(_.size(selectedIndex)  > 0){
              var obj = table.data()[selectedIndex[0]];
              if(obj.index == '总计') return;
              $.post('../deleteOrder', obj, function(data){
                // data = JSON.parse(data);
                if(data.code == 0){
                  layer.alert('已经成功删除！', 1);
                  table.ajax.reload();
                  return;
                }else if(data.code == 1){
                  layer.alert(data.message);
                  return;
                }
              })            
          }

        }
 

        function addDevice(_cmd){
            var txt = _cmd.btnName == null ? '':_cmd.btnName;
            var ele = 
              '<div class="col-xs-6 col-sm-6 col-md-2 col-md-lg-2 btnPanel" id = "btnPanel_'+ _cmd.flag +'">'+
                '<div class="row">'+
                  '<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">'+
                      '<img src = "'+ _cmd.imgSrc +'" id = "img_'+ _cmd.flag +'">'+
                  '</div>'+
                  '<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">'+
                      '<div class="panelText" id = "txt_'+ _cmd.flag +'">'+ txt +'</div>'+
                  '</div>'+
                '</div>'+
              '</div>'

            $('#row_container').append(ele);
        }
  
        function resetDeviceConfig(){
          if(confirm('重新配置所有设备将删除当前所有之前的设备配置项，确定吗？') == true){
            console.log('重新配置所有设备!!');
            $.get('../resetDeviceConfig', function(data){
                console.log('resetDeviceConfig => ' + data);
                if(data == 'ok'){
                  _.each(cmds, function(_cmd){
                    $('#btnPanel_' + _cmd.flag).remove();
                  })
                  hideTip();
                }
            })
          }
        }
        function hideTip(){
            $('#lblTip').css('display', 'none');
            $('#lblDeviceListText').css('margin-top', '40px');
        }
    </script>
  </head>
  <body>
    <div id = "divNav">
        <div class="container">
            <div class="row"  id = "">
                <div class="col-xs-1 col-sm-1 col-md-1 col-md-lg-1">

                    <img id="imglogo" src="/images/logo3.png">
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11 col-md-lg-11">
                    <div style="margin-top: 48px; ">

                          <a class= "navFunc" style="right:525px;">教程 </a>
                          <a class= "navFunc" style="right:470px;color: rgb(100,100,100);"  href="/orderConfigIndex" target="_blank">订单 </a>
                          <a class= "navFunc " style="right:415px;" href="/processConfigIndex" target="_blank">流程 </a>
                          <a class= "navFunc " style="right:360px;" href="/planConfigIndex" target="_blank">计划 </a>
                          <a class= "navFunc" style="right:240px;"  href="/barchartsIndex" target="_blank">实时时长统计 </a>
                          <a class= "navFunc" style="right:120px;"  href="/piechartsIndex" target="_blank">实时比重统计 </a>
                          <a class= "navFunc" style="right:70px;">导出 </a>
                          <a class= "navFunc" style="right:20px;" onclick = "openAboutWindow()">关于 </a>
                     </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="demo-panel-title"> 
        <!-- <h3  style="text-align:center;font-size:20px;color: white;margin-bottom: 10px;"></h3> -->
        <div class = "container">
            <div class="row" style="margin-top:20px;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12">
                    <div id= "sayingContent" style=""> </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12">
                    <div id="sayingAuthor" style=""></div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- <div id="lblTip" style="">设备发生变化，检查设备或者重新配置</div> -->
    <div id="lblTableTitleText" style=""> 订单列表 </div>
    <div class="container">
      <div class="row"  id = "row_container">

        
        <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12">
          <table id="dtProcess" class="display" cellspacing="0" width="100%" >
              <thead>
                  <tr>
                      <th>订单编码</th>
                      <th>产品名称</th>
                      <th>数量</th>
                      <th>时间</th>
                  </tr>
              </thead>
          </table>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12" style="margin-top: 50px;margin-bottom: 50px;text-align:center;">
            <button type="button" class="btn btn-default btn-sm" onclick= "showAddOrderIndex()">添加</button>
            <button type="button" class="btn btn-default btn-sm" onclick = "deleteRow()">删除</button>
            <!-- <button type="button" class="btn btn-default btn-sm" onclick = "showOrderAutoIndex()">批量生成</button> -->
        </div>
      </div>
<!--       <div style="text-align:center;text-align: center; border-top-style: solid; border-top-width: 1px; padding-top: 20px; border-top-color: rgba(128,128,128,0.3); padding-bottom: 20px;"> 
        <button type="button" class="btn btn-danger btn-lg" style="" onclick = "resetDeviceConfig()">重新配置所有设备
        </button>
      </div>
 -->    
    </div>
<!--    <div class="container" style="margin-left: 0px; margin-right: 0px; max-width: 100%; background-color: rgb(240,240,240); max-width: 100%; min-height: 60px;position: absolute; width: 100%; bottom: 0px;">
      <div class="row"  id = "row_container">
            <div class="col-xs-3 col-sm-3 col-md-3 col-md-lg-3" style=""> </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-md-lg-6" style="text-align: center; font-size: 15px; margin-bottom: 0px; margin-top: 20px; color: rgb(180,180,180);">
              北京精益生产科技发展有限公司
          </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-md-lg-3" style=""> </div>
        
      </div>
    </div>  -->
    
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/layer/layer.min.js"></script>
    <script src="/dataTable/jquery.dataTables.js"></script>
    <!-- Modal -->
    <div class="modal fade" id="modalAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color: rgb(50,50,50); color: white;">
            <button type="button" class="close" data-dismiss="modal"><!-- <span aria-hidden="true">&times;</span> --><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">关于</h4>
          </div>
          <div class="modal-body">
            <div style="text-align: center; font-size: 19px; margin-top: 20px;">
              精益生产沙盘V0.8
            </div>
          </div>
          <div class="modal-footer" style="text-align: center;">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
